Source/SilverMap/Service References/DistrictFeatureService/DistrictFeatureService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59874/DistrictFeatureService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ptvag.Dawn.SilverMap.Web" />
  <xs:element name="GetDistrictFeaturePoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="layerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="x" type="xs:double" />
        <xs:element minOccurs="0" name="y" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistrictFeaturePointResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Ptvag.Dawn.SilverMap.Web" minOccurs="0" name="GetDistrictFeaturePointResult" nillable="true" type="q1:ArrayOfDistrictFeature" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistrictFeaturePolygon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="layerName" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Ptvag.Dawn.SilverMap.Web" minOccurs="0" name="polygon" nillable="true" type="q2:ArrayOfPolyPoint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistrictFeaturePolygonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Ptvag.Dawn.SilverMap.Web" minOccurs="0" name="GetDistrictFeaturePolygonResult" nillable="true" type="q3:ArrayOfDistrictFeature" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>