Source/SilverMap/Service References/DistrictFeatureService/DistrictFeatureService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Ptvag.Dawn.SilverMap.Web" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ptvag.Dawn.SilverMap.Web" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDistrictFeature">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DistrictFeature" nillable="true" type="tns:DistrictFeature" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDistrictFeature" nillable="true" type="tns:ArrayOfDistrictFeature" />
  <xs:complexType name="DistrictFeature">
    <xs:sequence>
      <xs:element minOccurs="0" name="GeometryWkb" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DistrictFeature" nillable="true" type="tns:DistrictFeature" />
  <xs:complexType name="ArrayOfPolyPoint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PolyPoint" nillable="true" type="tns:PolyPoint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPolyPoint" nillable="true" type="tns:ArrayOfPolyPoint" />
  <xs:complexType name="PolyPoint">
    <xs:sequence>
      <xs:element minOccurs="0" name="X" type="xs:double" />
      <xs:element minOccurs="0" name="Y" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PolyPoint" nillable="true" type="tns:PolyPoint" />
</xs:schema>